PORT = 9002
MONGO_URL = "mongodb://127.0.0.1:27017/ecommerceDb"

JWT_SECRET = sdlfkgjdlsfg
JWT_EXPIRES_IN = 13d

JWT_REFRESH_SECRET = asdfasdfasdfsd
JWT_REFRESH_EXPIRES_IN = 52d

NODE_ENV = development

# email services

SMTP_HOST =
SMTP_PORT =
SMTP_EMAIL =
SMTP_PASS =
ROOT_URL =

# cloudinary

CLOUD_NAME=  
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

## Stripe

STRIPE_SECRET_KEY=

## openai

OPENAI_API_KEY=
